div.main {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: lightseagreen;
}

div.main-view {
    display: block;
    flex-grow: 1;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}